@import url(https://fonts.googleapis.com/css?family=Montserrat);@import url(https://fonts.googleapis.com/css?family=Cabin);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: relative;
  color: #393E41;
}

.bg-red {
  background-color: #F6856F;
}

.bg-green {
  background-color: #28B39E;
}

.bg-yellow {
  background-color: #FED766;
}

.bg-blue {
  background-color: #004E64;
}

.red {
  color: #F6856F;
}

.green {
  color: #28B39E;
}

.yellow {
  color: #FED766;
}

.blue {
  color: #004E64;
}

a {
  text-decoration: none;
}

.grid,
.background-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px;
}

.background-grid {
  grid-template-rows: 100vh;
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  left: 2.5%;
  z-index: 1;
  display: none;
}

.grid-item {
  background-color: #eee;
  opacity: 0.2;
}

.col1 {
  grid-column: span 1;
}

.col2 {
  grid-column: span 2;
}

.col3 {
  grid-column: span 3;
}

.col4 {
  grid-column: span 4;
}

.col5 {
  grid-column: span 5;
}

.col6 {
  grid-column: span 6;
}

.col7 {
  grid-column: span 7;
}

.col8 {
  grid-column: span 8;
}

.col9 {
  grid-column: span 9;
}

.col10 {
  grid-column: span 10;
}

.col11 {
  grid-column: span 11;
}

.col12 {
  grid-column: span 12;
}

.container {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  z-index: 2;
}

.menuToggle {
  position: absolute;
  display: block;
  width: 35px;
  height: 5px;
  right: 30px;
  top: 50px;
  background-color: #28B39E;
}

.menuToggle:before,
.menuToggle:after {
  content: '';
  position: absolute;
  width: 35px;
  height: 5px;
  -webkit-transform: translateY(-180%);
          transform: translateY(-180%);
  background-color: #F6856F;
}

.menuToggle:after {
  -webkit-transform: translateY(180%);
          transform: translateY(180%);
  background-color: #FED766;
}

.cross {
  position: absolute;
  display: block;
  font-size: 100px;
  font-weight: normal;
  font-family: "Cabin", sans-serif;
  top: 17px;
  right: 34px;
  color: #ffffff;
}

.cross,
.menuToggle {
  z-index: 10;
}

@media (min-width: 769px) {
  .cross,
  .menuToggle {
    display: none;
  }
}

.nav {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 20px 0;
  z-index: 2;
}

.site-logo,
.site-name,
.site-details {
  text-align: center;
}

.site-name {
  margin-top: 20px;
}

.site-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 20px;
}

.site-details img,
.site-details p {
  display: inline-block;
  margin: 0 5px;
}

.site-details p {
  font-family: "Cabin", sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #393E41;
  letter-spacing: 1.5px;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .site-details p {
    font-size: 12px;
    font-weight: normal;
  }
}

@media (min-width: 769px) {
  .site-details p {
    font-size: 14px;
    font-weight: normal;
  }
}

.menu-placeholder {
  border-bottom: 20px solid #28B39E;
}

@media (min-width: 769px) {
  .menu-placeholder {
    display: none;
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #004E64;
  width: 100%;
  padding-top: 100px;
}

@media (min-width: 769px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 0;
    margin-top: 20px;
    padding-top: 0;
    position: relative;
  }
}

.menu.hide {
  display: none;
}

@media (min-width: 769px) {
  .menu.hide {
    display: grid;
  }
}

.menu-item {
  grid-column: span 2;
  font-family: "Cabin", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.menu-item p {
  color: #ffffff;
  letter-spacing: 0.75px;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .menu-item {
    font-size: 12px;
  }
}

@media (min-width: 769px) {
  .menu-item {
    font-size: 14px;
  }
}

.menu-item:hover {
  background-color: #004E64;
}

.footer {
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 10px solid #28B39E;
  margin-bottom: 30px;
}

.footer-logo,
.footer-site-name {
  text-align: center;
}

.footer-logo img,
.footer-site-name img {
  width: 60%;
  padding-bottom: 15px;
}

.footer-menu {
  text-align: center;
  padding: 15px 0;
}

.footer-menu li {
  padding-bottom: 15px;
}

.footer-menu a {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  color: #28B39E;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.footer-menu a:hover {
  color: #004E64;
}

.sign-up {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 80px;
}

.sign-up input {
  border: 1px solid #E4DFDA;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
}

.sign-up button {
  background-color: #FED766;
  border-color: #FED766;
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 12px;
  border-style: none;
}

.sign-up button:hover {
  background-color: #004E64;
  border-color: #004E64;
}

.quote-header {
  padding: 15px 0;
}

.quote-mark-l img,
.quote-mark-r img {
  width: 50px;
  height: auto;
  padding: 15px 0;
}

.quote-mark-r {
  text-align: right;
}

.quote-header .quote {
  padding: 15px 50px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  line-height: 25px;
  text-align: center;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .quote-header .quote {
    font-size: 18px;
    line-height: 35px;
  }
}

@media (min-width: 769px) {
  .quote-header .quote {
    font-size: 21px;
    line-height: 45px;
  }
}

.text-box-container {
  padding: 15px 0;
}

.text-box-container .title-box,
.text-box-container .text-box,
.text-box-container .text-box-cta {
  margin-bottom: 15px;
}

.text-box-container .title-box {
  padding: 1em;
  text-align: center;
}

.title-box h2 {
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  font-size: 22px;
  letter-spacing: 1.5px;
}

.text-box-container .text-box {
  padding: 15px;
}

.text-box p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 25px;
  margin: 15px 0;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .text-box p {
    font-size: 16px;
    line-height: 35px;
  }
}

@media (min-width: 769px) {
  .text-box p {
    font-size: 18px;
    line-height: 45px;
  }
}

.text-box strong {
  font-weight: 800;
  font-family: "Cabin", sans-serif;
  text-decoration: underline;
}

.text-box-container .text-box-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-box-cta button {
  padding: 1em;
  background-color: #FED766;
  border: none;
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 12px;
  width: 150px;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .text-box-cta button {
    font-size: 16px;
    width: 200px;
  }
}

@media (min-width: 769px) {
  .text-box-cta button {
    font-size: 16px;
    width: 200px;
  }
}

.text-box-cta button:hover {
  background-color: #004E64;
  border-color: #004E64;
}

.video-container {
  position: relative;
  margin-bottom: 15px;
}

.video-container > video {
  width: 100%;
  vertical-align: middle;
}

.button-play {
  width: 74px;
  height: 52px;
  border-style: solid;
  border-width: 37px 0 37px 52px;
  border-color: transparent transparent transparent #28B39E;
  background-color: transparent;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
}

.button-pause {
  width: 74px;
  height: 60px;
  border-color: #28B39E;
  border-style: double;
  border-width: 0 0 0 52px;
}

.button-play:hover,
.button-pause:hover {
  border-color: transparent transparent transparent #004E64;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
  will-change: border-width;
  cursor: pointer;
}

.info-box {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr 0.5fr 2fr;
  -webkit-box-shadow: -1px 2px 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: -1px 2px 6px 0 rgba(0, 0, 0, 0.5);
}

@media (min-width: 651px) and (max-width: 1239px) {
  .info-box {
    grid-template-rows: 0.5fr 3fr;
  }
}

@media (min-width: 1240px) {
  .info-box {
    grid-template-rows: 0.5fr 3fr;
  }
}

.info-pic {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / span 4;
  grid-row: 1 / 2;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .info-pic {
    grid-column: 1 / span 2;
    grid-row: 2 / span 5;
  }
}

@media (min-width: 1240px) {
  .info-pic {
    grid-column: 1 / span 2;
    grid-row: 2 / span 5;
  }
}

.info-title {
  text-align: center;
  grid-column: 1 / span 4;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .info-title {
    grid-row: 1 / span 1;
  }
}

@media (min-width: 1240px) {
  .info-title {
    grid-row: 1 / span 1;
  }
}

.info-title h2 {
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  font-size: 22px;
  letter-spacing: 1.5px;
}

.info-text {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column: 1 / span 4;
  grid-row: 3 / 4;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .info-text {
    grid-column: 3 / span 2;
    grid-row: 2 / span 5;
  }
}

@media (min-width: 1240px) {
  .info-text {
    grid-column: 3 / span 2;
    grid-row: 2 / span 5;
  }
}

.info-text .link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 25px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.link span:hover {
  color: #28B39E;
}

.testimonial-title {
  padding: 1em;
  padding-top: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.testimonial-title h2 {
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  font-size: 22px;
  letter-spacing: 1.5px;
}

.testimonial-container {
  display: grid;
  max-width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .testimonial-container {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .testimonial-container {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 651px) and (max-width: 1239px) {
  .testimonial-box {
    display: grid;
    grid-template-rows: auto 200px;
  }
}

@media (min-width: 769px) {
  .testimonial-box {
    display: grid;
    grid-template-rows: auto 200px;
  }
}

.testimonial-pic {
  z-index: 2;
}

.testimonial-pic img {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.testimonial-quote {
  border: 3px solid #FED766;
  border-top: none;
  margin-top: -4px;
  margin-bottom: 30px;
  z-index: 1;
}

.camperQuote {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 30px;
  color: #004E64;
  text-align: center;
  padding: 20px 30px;
}

.camperName {
  color: #F6856F;
}

.email-list {
  padding: 10px 0;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.email-list h2 {
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  font-size: 25px;
  letter-spacing: 1.5px;
  padding: 20px;
  text-align: center;
}

.email-cta {
  text-align: center;
  margin-bottom: 15px;
}

.email-cta button {
  background-color: #FED766;
  border-color: #FED766;
  border-style: none;
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  letter-spacing: 2px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
}

.email-cta button:hover {
  background-color: #004E64;
  border-color: #004E64;
}

.faq-box {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 2em 1fr;
  grid-gap: 20px;
  margin-bottom: 30px;
}

.faq-title {
  grid-column: 1 / 2;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-title h3 {
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .faq-title h3 {
    font-size: 16px;
    line-height: 35px;
  }
}

@media (min-width: 769px) {
  .faq-title h3 {
    font-size: 18px;
    line-height: 45px;
  }
}

.faq-pic {
  grid-column: 2 / 3;
}

.faq-pic img {
  height: 100%;
}

.faq-text {
  grid-column: 1 / 3;
}

.faq-text p {
  font-size: 12px;
  text-align: justify;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .faq-text p {
    font-size: 14px;
    line-height: 35px;
  }
}

@media (min-width: 769px) {
  .faq-text p {
    font-size: 16px;
    line-height: 45px;
  }
}

.img-header {
  position: relative;
  margin-bottom: 10px;
  z-index: 1;
}

.img-header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(-176deg, rgba(81, 218, 205, 0.61) 0%, rgba(0, 0, 0, 0.61) 97%);
}

.img-header img {
  width: 100%;
  height: auto;
  display: block;
}

.img-floatL {
  float: left;
  width: 150px;
  height: 150px;
  background-size: cover;
  margin: 20px 20px 20px 0;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .img-floatL {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 769px) {
  .img-floatL {
    width: 250px;
    height: 250px;
  }
}

.speaker-bckgnd {
  padding: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004E64), to(#51DACD));
  background-image: linear-gradient(-180deg, #004E64 0%, #51DACD 100%);
  margin-bottom: 20px;
}

.speaker-profile {
  background-color: #ffffff;
  padding: 30px;
}

.speaker-profile img {
  float: left;
  margin: 0 15px 15px 0;
}

.speaker-profile p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 25px;
  padding: 15px 0;
}

.colorful-header {
  padding: 15px 50px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  line-height: 25px;
  text-align: center;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .colorful-header {
    font-size: 18px;
    line-height: 35px;
  }
}

@media (min-width: 769px) {
  .colorful-header {
    font-size: 54px;
    line-height: 80px;
  }
}

.colorful-header p {
  letter-spacing: 4px;
}

.title-bar {
  padding: 1em;
  padding-top: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.title-bar h2 {
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  font-size: 22px;
  letter-spacing: 1.5px;
}

.counselor-container {
  display: grid;
  max-width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .counselor-container {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .counselor-container {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

.counselor-box {
  display: grid;
  grid-template-rows: auto 75px;
}

.counselor-pic {
  z-index: 2;
}

.counselor-pic img {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.counselor-name {
  margin: 20px auto;
}

.counselor-name button {
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.gallery-container {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
}

@media (min-width: 651px) and (max-width: 1239px) {
  .gallery-container {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .gallery-container {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery-box {
  display: grid;
}

.gallery-pic {
  z-index: 2;
}

.gallery-pic img {
  width: 100%;
  height: auto;
}

.schedule p {
  font-size: 18px;
  line-height: 45px;
  letter-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
}

p.time {
  color: #F6856F;
  font-weight: bold;
}

.schedule {
  margin-bottom: 50px;
  padding: 0 5%;
}

.schedule-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-bottom: 20px;
}

