@import url(https://fonts.googleapis.com/css?family=Montserrat);@import url(https://fonts.googleapis.com/css?family=Cabin);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: relative;
}

.bg-red {
  background-color: #F6856F;
}

.bg-green {
  background-color: #28B39E;
}

.bg-yellow {
  background-color: #FED766;
}

.bg-blue {
  background-color: #004E64;
}

a {
  text-decoration: none;
}

.grid,
.background-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px;
}

.background-grid {
  grid-template-rows: 100vh;
  width: 95%;
  margin: 0 auto;
  position: absolute;
  left: 2.5%;
  z-index: 1;
  display: none;
}

.grid-item {
  background-color: #eee;
  opacity: 0.2;
}

.col1 {
  grid-column: span 1;
}

.col2 {
  grid-column: span 2;
}

.col3 {
  grid-column: span 3;
}

.col4 {
  grid-column: span 4;
}

.col5 {
  grid-column: span 5;
}

.col6 {
  grid-column: span 6;
}

.col7 {
  grid-column: span 7;
}

.col8 {
  grid-column: span 8;
}

.col9 {
  grid-column: span 9;
}

.col10 {
  grid-column: span 10;
}

.col11 {
  grid-column: span 11;
}

.col12 {
  grid-column: span 12;
}

.container {
  width: 95%;
  margin: 0 auto;
  z-index: 2;
}

.nav {
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
  z-index: 2;
}

.site-logo,
.site-name,
.site-details {
  text-align: center;
}

.site-name {
  margin-top: 15px;
}

.site-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 15px;
}

.site-details img,
.site-details p {
  display: inline-block;
  margin: 0 5px;
}

.site-details p {
  font-family: "Cabin", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #393E41;
}

.menu {
  grid-column-gap: 0;
  margin-top: 15px;
}

.menu-item {
  grid-column: span 4;
  font-family: "Cabin", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}

.menu-item p {
  color: #ffffff;
  letter-spacing: 0.75px;
}

.footer {
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 10px solid #28B39E;
}

.footer-logo,
.footer-site-name {
  text-align: center;
}

.footer-logo img,
.footer-site-name img {
  width: 60%;
  padding-bottom: 15px;
}

.footer-menu {
  text-align: center;
  padding: 15px 0;
}

.footer-menu li {
  padding-bottom: 15px;
}

.footer-menu a {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  color: #28B39E;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.footer-menu a:hover {
  color: #004E64;
}

.sign-up {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 80px;
}

.sign-up input {
  border: 1px solid #E4DFDA;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
}

.sign-up button {
  background-color: #FED766;
  border-color: #FED766;
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 12px;
}

.sign-up button:hover {
  background-color: #004E64;
  border-color: #004E64;
}

