.menuToggle{
  position: absolute;
  display: block;
  width: 35px;
  height: 5px;
  right: 30px;
  top: 50px;
  background-color: $green;
  &:before, &:after{
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    transform: translateY(-180%);
    background-color: $red;
  }
  &:after{
    transform: translateY(180%);
    background-color: $yellow;
  }
}

.cross{
  position: absolute;
  display: block;
  font-size: 100px;
  font-weight: normal;
  font-family: $font-secondary;
  top: 17px;
  right: 34px;
  color: $white;
}

.cross, .menuToggle{
  z-index: 10;

  @include mq(desktop){
    display: none;
  }
}

.nav{
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 20px 0;
  z-index: 2;
}

.site-logo, .site-name, .site-details{
  text-align: center;
}

.site-name{
  margin-top: 20px;
}

.site-details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 20px;

  img, p{
    display: inline-block;
    margin: 0 5px;
  }

  p{
    font-family: $font-secondary;
    font-size: 10px;
    font-weight: bold;
    color: $black;
    letter-spacing: 1.5px;
    @include mq(tablet){
      font-size: 12px;
      font-weight: normal;
    }
    @include mq(desktop){
      font-size: 14px;
      font-weight: normal;
    }
  }
}

.menu-placeholder{
  border-bottom: 20px solid $green;
}

@include mq(desktop){
  .menu-placeholder{
    display: none;
  }
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  background-color: $blue;
  width: 100%;
  padding-top: 100px;

  @include mq(desktop){
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 0;
    margin-top: 20px;
    padding-top: 0;
    position: relative;
  }
}

.menu.hide{
  display: none;
}

@include mq(desktop){
  .menu.hide{
    display: grid;
  }
}

.menu-item{
  grid-column: span 2;
  font-family: $font-secondary;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  p{
    color: $white;
    letter-spacing: 0.75px;
  }

  @include mq(tablet){
    font-size: 12px;
  }
  @include mq(desktop){
    font-size: 14px;
  }
}

.menu-item:hover{
  background-color: $blue;
}


