body{
  position: relative;
}

//Colors
.bg-red{background-color: $red;}
.bg-green{background-color: $green;}
.bg-yellow{background-color: $yellow;}
.bg-blue{background-color: $blue;}

a{
  text-decoration: none;
}