//Media Queries
  // Small tablets and large smartphones (landscape view)
  $mobile: 576px;
  // Small tablets (portrait view)
  $tablet: 768px;
  // Tablets and small desktops
  $desktop: 992px;
  // Large tablets and desktops
  $desktopXL: 1200px;

//Fonts
  $font-primary: 'Montserrat', sans-serif;
  $font-secondary: 'Cabin', sans-serif;

//Colors
  $black: #393E41;
  $red: #F6856F;
  $green: #28B39E;
  $yellow: #FED766;
  $blue: #004E64;
  $white: #ffffff;
  $grey: #E4DFDA;
