//Fonts
  $font-primary: 'Montserrat', sans-serif;
  $font-secondary: 'Cabin', sans-serif;

//Colors
  $black: #393E41;
  $red: #F6856F;
  $green: #28B39E;
  $yellow: #FED766;
  $blue: #004E64;
  $white: #ffffff;
  $grey: #E4DFDA;